body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #ccc;
    padding: 0.5em;
    text-align: center;
  }
  
  nav a {
    color: #333;
    margin: 0 1em;
    text-decoration: none;
  }
  
  section {
    margin: 2em;
  }
  
  section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section form div {
    margin-bottom: 1em;
    width: 50%;
    text-align: left;
  }
  
  section form label {
    font-weight: bold;
  }
  
  section form input[type="text"],
  section form input[type="email"],
  section form input[type="password"] {
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
  }
  
  section form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
  }
  